<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Music Machine Server</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>URL</string>
			<key>Key</key>
			<string>serverURL_preference</string>
			<key>DefaultValue</key>
			<string>http://192.168.0.1:8080</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Spotify</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Country</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>countryCode_preference</string>
			<key>DefaultValue</key>
			<string>SE</string>
			<key>Titles</key>
			<array>
				<string>Finland</string>
				<string>France</string>
				<string>Norway</string>
				<string>Spain</string>
				<string>Sweden</string>
				<string>Great Britain</string>
			</array>
			<key>Values</key>
			<array>
				<string>FI</string>
				<string>FR</string>
				<string>NO</string>
				<string>ES</string>
				<string>SE</string>
				<string>GB</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
